<launch>
    <rosparam command="load" file="$(find manipulator_description)/param/dhparams.yaml" />
    
    <param name="robot_description" command="xacro  '$(find manipulator_description)/urdf/moving.urdf'"/>
    <param name="use_gui" value="true"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-f link_basea" required="true"/>

    <node name="jint" pkg="manipulator_interpolation" type="jint" output="screen"/>
    <node name="oint" pkg="manipulator_interpolation" type="oint"/>
    <node name="forward_kinematic" pkg="manipulator_interpolation" type="kinematic"/>
</launch>